<!-- templates/projeto/list.html -->
{% extends 'base.html' %}

{% block title %}Listar Projetos{% endblock %}

{% block content %}

<div class="py-3">
    <h1>Projetos</h1>
</div>

<div class="row">
    <div class="col-12 col-md-8">
        {% if projetos %}
        <ul class="list-group list-group-flush">
            {% for projeto in projetos %}
                <li class="list-group-item">
                    <a href="{% url 'projeto:exibir' projeto.pk %}">{{ projeto.titulo }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="text-muted">Nenhum projeto encontrado.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
